lyn-button:not(:defined) {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.sidebar-content summary {
  padding-left: 0;
  justify-content: flex-start;
}

.sidebar-content div {
  order: 2;
}

.sidebar-content svg {
  order: 1;
}

.sidebar-content ul,
.sidebar-content li ul li ul li {
  --sl-sidebar-item-padding-inline: 0;
}

.sidebar-content ul li {
  border-inline-start: unset;
}

.sidebar-content li ul li ul li {
  --sl-sidebar-item-padding-inline: 0.4rem;
}

.sidebar-content li ul li {
  border-inline-start: unset;
}

.sidebar-content ul li .large {
  font-size: var(--sl-text-base);
}

.sidebar-content li ul .large {
  font-family: var(--sl-font-system-mono), serif;
  font-size: calc(var(--sl-text-sm) * 0.8);
}

.sidebar-content a {
  font-size: var(--sl-text-sm);
}
